@font-face {
    font-family: "dosis";
    src: url(fonts/Dosis-VariableFont_wght.woff);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "dosis";

    display: flex;
    height: 100vh;
}

.hero-container {
    padding: 10px;
    background-color: #04aa5f;
    width: 40vw;

    display: flex;
    flex-direction: column;
}

.hero-container h1 {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;

    flex: 1;
}

.hero-container img {
    width: 70%;

    flex: 10;
    align-self: center;
}

.main-container {
    width: 60vw;
    background-color: #1d2b3a;
    padding: 30px 40px;
}

.main-container h1 {
    color: white;
    padding-left: 20px;
}

.main-container form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row {
    padding: 20px 0;

    display: flex;
}

.form-element {
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-row label {
    color: white;
    padding-bottom: 5px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
    background-color: #1d2b3a;
    border: none;
    border-bottom: 0.5px solid black;
    color: white;
    height: 25px;
    border-radius: 3px;
}

.form-row input:not(:placeholder-shown):invalid {
    border: 1px solid red;
}

.form-row input:valid {
    border: 1px solid #1ae787d1;
}

.form-row input:focus {
    border: 1px solid #6e6b886b;
    outline: none;
    box-shadow: none;
}

.submit-container {
    padding: 0 20px;
}

.submit-container button {
    background-color: #1ae787d1;
    border: none;
    padding: 1.1rem 1.8rem;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}